@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.ttf');
	font-style: italic;
}


/* Basic reset */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: url("../images/Digibyte.jpg") black;
    min-width: 340px;
    background-position: top;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

@media (max-width: 768px) {
    .container {
        width: 100% !important;
        max-width: none !important;
    }
}

body {
    background: transparent;
}

.monospace {
    font-family: monospace;
}

html.loading {
    background: #e4eff2;
}
#loading {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    overflow: auto;
}


/* Headers */
header {
    padding: 40px 0;
}
header h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}


.fs-title {
    font-size: 22px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: bold;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}



/* Progressbar */
#progressbar {
    margin-bottom: 60px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 0 10px black;
}
#progressbar li, .shadow {
    text-shadow: 0 0 8px black, 0 0 12px black, 0 0 6px black
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    display: block;
    font-size: 16px;
    color: #333;
    background: white;
    border-radius: 6px;
    margin: 0 auto 2px auto;
    font-weight: bold;
    box-shadow: 0 0 2px 1px black;
    text-shadow: none;
}
#progressbar li * {
    text-shadow:
        0 0 1px #000,
        0 0 2px #000,
        0 0 3px #000,
        0 0 4px #000,
        0 0 5px #000,
        0 0 6px #000
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    left: -50%;
    top: 12px;
    z-index: -1; /*put it behind the numbers*/
    box-shadow: 0 0 10px 1px black;
}
#progressbar li:first-child:after {
    content: none;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: steelblue;
    color: white;
}
#progressbar li.active {
    color: steelblue;
}



/* Form */
form {
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
}

form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px black;
    border-radius: 10px;
    padding: 15px 15px 10px; /* 20px 30px 10px;*/
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;
    position: relative;
}

form input, form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 15px;
}

form input:focus, form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid steelblue;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

form .action-button {
    width: auto;
    display: inline-block;
    background: steelblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 25px;
    margin: 10px 5px;
}
form .action-button:disabled {
    background: #DDD;
    cursor: not-allowed;
}

form .action-button:hover, form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px steelblue;
}
form .disabled-button:hover, form .disabled-button:focus {
    box-shadow: none;
}

form .action-button-previous {
    width: auto;
    display: inline-block;
    background: steelblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 5px;
}

form .action-button-previous:hover, form .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}


/* Details */
.address-info {
    margin-bottom: 10px;
    text-align: center;
    cursor: default;
}
.error-info, .success-info {
    padding: 10px;
    font-family: monospace;
    display: block;
    border-radius: 10px
}
.error-info {
    background: #FFAAAA;
}

.success-info {
    background: #AAFFAA;
}


/* Animation */
.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.3s;
}
.animate-show-hide.ng-hide-add {
    display:none!important;
}

.funky-show-hide.ng-hide-add {
    /* display:none!important;*/
    transform: rotateZ(0);
    transform-origin: right;
    transition: all 0.3s ease-in-out;
}
  
.funky-show-hide.ng-hide-add.ng-hide-add-active {
    transform: rotateZ(-135deg);
}
  
.funky-show-hide.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s ease;
}
  
.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}

.ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}



/* Footer */
/* footer {
    text-align: center;
    display: block;
    margin-top: 1.5rem;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
}
footer a {
    color: gainsboro;
    font-size: 1rem;
    padding: 5px 15px;
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
    background: #00000099;
}
footer a:hover {
    color: white;
}*/